@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Briem+Hand:wght@100..900&display=swap');


:root {
    --primary-color: #222A59 ;
    --secondary-color: #E04432;
    --accent1-color:#68D2E8 ;
    --accent2-color: #F5F3F6;

    --heading-font: "Briem Hand", serif;
    --paragraph-font: "Assistant" , serif;

    --nav-background-color: #F0789C;
    --nav-link-color:#222A59 ;
    --nav-hover-link-color: #E04432;
    --nav-hover-background-color: #F7D166 ;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    max-width: 90vw;
    height: 100%;
    margin: 20px auto;

}
.header-links {
    grid-column: 2/3;
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;



}

.header-links a {
    text-decoration: none;
    font-family: var(--paragraph-font);
    color: var(--nav-link-color);
    font-size: 1.3rem;
    margin: 5px;
    text-align: center;
    padding: 3px;
    width: 120px;
    flex: 0 1 auto;
    background-color: var(--nav-background-color);
    border-radius: 10px;
    border-top: 2px solid var(--nav-link-color);
    border-left: 2px solid var(--nav-link-color);
    border-right: 2px solid var(--nav-link-color);
    border-bottom: 5px solid var(--nav-link-color);
  

}

.header-links a:hover {

    border-radius: 10px;
    border-top: 2px solid var(--nav-link-color);
    border-left: 2px solid var(--nav-link-color);
    border-right: 2px solid var(--nav-link-color);
    border-bottom: 5px solid var(--nav-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero {
    position: relative;
    margin-top: 20px ;
    border: 3px solid var(--primary-color);
    border-top: 5px solid var(--primary-color);
    border-bottom: 5px solid var(--primary-color);
}
.hero img{
    display: block;
    width: 100%;  
    height: 500px;
    object-fit: cover;
}

.hero h1{
    position: absolute;
    top: 10%;
    left: 20%;
    text-align: center;
    width: 60%;
    height: auto;
    font-size: clamp(1rem, 8vw, 5rem);
    color: var(--nav-hover-background-color);
    text-shadow: 3px 3px 0px rgba(34, 42, 89, 1);
}
.hero-article {
    display: flex;
    flex-flow: row-reverse;
    background-color: var(--secondary-color);
    position: absolute;
    height: 200px;
    width: 80%;
    top: 50%;
    left: 10%;
    border-radius: 20px;
    background-color: rgba(60, 129, 236, 0.48);
    

    

}
.hero-article img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px ;

    
}

.hero-article p {
    font-size: clamp(0.5rem, 3vw, 1.2rem);

    padding: 20px;
    color: var(--accent2-color);
    overflow: scroll;

   
}



p {
    font-family: var(--paragraph-font);

}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    
}




footer {
    display: flex;
    width: 100% ;
    height: 200px;
    margin-top: 20px;
    border: 3px solid var(--primary-color);
    border-top: 5px solid var(--primary-color);
    border-bottom: 5px solid var(--primary-color);
    justify-content: center;
    align-items: center;
    gap: 20px;
}


footer nav a img{

    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 5px;
    
   
    


}

footer nav a img:hover{


    background-color: var(--nav-hover-background-color);
    border: 2px solid var(--primary-color);
    border-top: 3px solid var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    border-radius: 6px;
    
}



header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    height: 20vh;
    border: 3px solid var(--primary-color);
    border-top: 5px solid var(--primary-color);
    border-bottom: 5px solid var(--primary-color);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    
}

.logo img{
    margin: 10px;
    width: 90px;
    height: auto;
}

.logo {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;



    

}


.history  h2 , .adventure h2{


    border: 3px solid var(--primary-color);
    border-top: 5px solid var(--primary-color);
    border-bottom: 5px solid var(--primary-color);
    position: sticky;
    top: 19%;
    background-color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;

}



.history img {
    width: 400px;
    height: 500px;
    object-fit: fill;
    margin: 20px;

}

.history-content {
    display: flex;
    border: 2px solid var(--primary-color);
    background-color: var(--accent1-color);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.history-content p {
    font-size:  clamp(0.5rem, 10vw, 1.2rem);
    padding: 2rem;
    text-indent: 3rem;
    flex: 1 1 200px;

}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 2px solid var(--primary-color);
    justify-content: space-around;
    align-items: center;
    height: auto;
    background-color: var(--secondary-color);


    
}

.gallery-container img {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;

}

.gallery-container figure {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    width: 220px;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin : 20px 0;
    


}

.gallery-container figcaption {
    padding: 5px;
    margin: 5px;
}



