@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Briem+Hand:wght@100..900&display=swap');

:root {
    --primary-color: #222A59 ;
    --secondary-color: #E04432;
    --accent1-color:#68D2E8 ;
    --accent2-color: #F5F3F6;

    --heading-font: "Briem Hand", serif;
    --paragraph-font: "Assistant" , serif;

    --nav-background-color: #F0789C;
    --nav-link-color:#222A59 ;
    --nav-hover-link-color: #E04432;
    --nav-hover-background-color: #F7D166 ;

}
body {

    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;

}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 10px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}